<%= render :partial => 'forem/topics/head', :locals => { :topic => @topic } %>
<h2><%= t("forem.post.edit", :post => @post) %></h2>

<%= simple_form_for [forem, @topic.forum, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <div class="btn-group">
    <%= f.submit t("forem.post.buttons.edit"), :class => "btn btn-primary" %>
    <%= link_to 'Cancel', forem.forum_path(@topic.forum), :class => "btn btn-danger" %>
  </div>
<% end %>
