<div class="page-header">
  <h3>User</h3>
</div>  

<% if current_user.is_admin? %>
<div class="row">
  <div class="col-md-1">
    <strong>ID:</strong> 
  </div>
  <div class="col-md-11">
    <p><%= @user.id %></p>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-1">
    <strong>Name:</strong> 
  </div>
  <div class="col-md-11">
    <p><%= @user.name %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <strong>Email:</strong> 
  </div>
  <div class="col-md-11">
    <p><%= mail_to @user.email,  raw('<span class="glyphicon glyphicon-envelope"></span> ') + @user.email %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <strong>Status:</strong> 
  </div>
  <div class="col-md-11">
    <p><%= @user.role if @user.role %></p>
  </div>
</div>
<%= link_to 'Back', users_path %>
