<%= form_for(@event) do |f| -%>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :start_time -%>
    <%= f.datetime_select :start_time -%>
  </div>

  <div class='field'>
    <%= f.label :end_time -%>
    <%= f.datetime_select :end_time -%>
  </div>

  <div class='field'>
    <%= f.label :all_day -%>
    <%= f.check_box :all_day, :checked => @event[:all_day] -%>
  </div>

  <div class='field'>
    <%= f.label :event_type -%>  
    <%= f.select :event_type, [['Blue', 1], ['Red', 2], ['Green', 3], ['Yellow', 4], ['Orange', 5]] -%>
  </div>
  
  <div class='field'>
    <%= f.label :blurb -%>
    <%= f.text_area :blurb, :class => 'larger widest' -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end -%>

